.loaderContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #d4d3d354;
  backdrop-filter: blur(6px);
  z-index: 99999999;
}
.boldLines {
  svg {
    stroke-width: 4; 
  }
}